
  
    <nav class="navbar navbar-light menu">
        
      <div class="box_menu">  
          <div class="header_logo">
              <img src="../../../../images/logo_header.png" alt="">
            </div>

      <div class="box_buttons">
        
      <a class="navbar-brand buttons-menu" href="#">
          <i class="fa fa-home"></i> Inicio</a>
        <a class="navbar-brand buttons-menu" href="/users">
          <i class="fa fa-user"></i> Usuarios</a>
        <a class="navbar-brand buttons-menu" href="/new-user">
          <i class="fa fa-user-plus" style="
          padding-right: 5px;
      "></i>Nuevo usuario</a>
      </div>
      </div>
    </nav>