<app-header></app-header>

<div id="users" class="col-8 box">
  <div class="col-12">
    <table id="table_users" class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th class="titles">Usuario</th>
          <th class="titles">Username</th>
          <th class="titles">Fecha inicio</th>
          <th class="titles">Último tiempo</th>
          <th class="titles"></th>
          <th class="titles"></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="data">
              <a class="link_user" routerLink="/users/{{user._id}}">{{ user.name }}</a> 
          </td>
          <td class="data">
            {{ user.username }}
          </td>         
          <td class="data" *ngIf="isStringDate(user.init_date) == true">
            {{ user.init_date | date:'dd/MM/yyyy'}}
          </td>
          <td class="data" *ngIf="isStringDate(user.init_date) == false">
              {{ user.init_date}}
            </td>
          <td class="data">
            {{ user.total_score }}
        </td>
        <td class="border_td">
            <a routerLink="/users/{{user._id}}">
            <button class="button_info">
              <i class="fa fa-info"></i>
            </button>
          </a>
        </td>
        <td class="border_td">
            <button class="button_del" (click)="deleteUser(user._id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

</div>